.mantine-ScrollArea-viewport > div {
  display: flex !important;
  flex-direction: column !important;
  padding: 4px;
  gap: 12px !important;
}

/* On larger screens, reverse the visibility */
@media (min-width: 768px) {
  .popular-perfumes-desktop {
    display: flex;
  }
  .popular-perfumes-mobile {
    display: none;
  }
}
@media (max-width: 768px) {
  .perfume-actions {
    order: 2;
    margin-bottom: 20px;
  }

  .popular-perfumes-mobile {
    display: flex;
  }

  .popular-perfumes-desktop {
    display: none;
  }

  /* Move notes section to be displayed on top on mobile */
  .notes-mobile {
    order: -1;
  }
  .input-desk {
    display: none;
  }
  .search-icon {
    display: block !important;
  }
  .search-input {
    display: none;
  }
  .search-container {
    display: flex;
    justify-content: end;
    width: 100%;
  }
}
.search-icon {
  display: none;
}

@media (max-width: 1120px) {
  .right-notes {
    display: none;
  }
}
@media (min-width: 768px) {
  .popular-perfumes-mobile {
    display: none;
  }

  .popular-perfumes-desktop {
    display: flex;
  }
}
@media (max-width: 768px) {
  .perfume-actions {
    order: 2;
    margin-bottom: 20px;
  }

  .popular-perfumes-mobile {
    display: flex;
  }

  .popular-perfumes-desktop {
    display: none;
  }

  /* Move perfume-info section to the top on mobile */
  .perfume-info {
    display: block !important;
  }

  /* Additional styling for perfume-info to fit mobile design */
  .perfume-info {
    margin-bottom: 30px;
    display: block;
  }
  .perfume-info-desk {
    display: none;
  }
  .accords {
    margin-top: -10px !important;
  }
  .desktopFilter {
    display: none !important;
  }
}
.perfume-info {
  display: none;
}
@media (min-width: 768px) {
  .popular-perfumes-mobile {
    display: none;
  }

  .popular-perfumes-desktop {
    display: flex;
  }
  .filter-mobile {
    display: none !important;
  }
}
@media (max-width: 680px) {
  .container-profile {
    flex-direction: column !important;
  }
}
div::-webkit-scrollbar {
  display: none; /* Hides scrollbar in Chrome, Safari, and Edge */
}
